<div class="h-screen flex justify-center items-center">
  <div #form class="w-[500px] p-10 shadow-xl rounded-xl">
    <h1 #title class="text-5xl mb-5 text-primary uppercase flex">
      @for(letter of "signup"; track letter) {
      <span>{{ letter }}</span>
      }
    </h1>
    <form [formGroup]="signupForm" (ngSubmit)="handleSignup()" class="flex flex-col gap-3 bord">
      <div class="flex flex-col gap-2">
        <label for="first-name" class="text-gray-600">First Name*</label>
        <input
          type="text"
          id="first-name"
          formControlName="firstName"
          placeholder="John"
          class="rounded-xl p-4 border-gray-400 !ring-0 focus:border-transparent focus:outline-primary"
        />
      </div>
    <div  class="text-red-500">
      {{signupForm.get('firstName')?.errors?.['required'] ? "First Name is required" : ""}}
    </div>
      <div class="flex flex-col gap-2">
        <label for="last-name" class="text-gray-600">Last Name*</label>
        <input
          type="text"
          id="last-name"
          formControlName="lastName"
          placeholder="Doe"
          class="rounded-xl p-4 border-gray-400 !ring-0 focus:border-transparent focus:outline-primary"
        />
      </div>
      <div class="flex flex-col gap-2">
        <label for="email" class="text-gray-600">Email*</label>
        <input
          type="email"
          id="email"
          formControlName="email"
          placeholder="example@example.com"
          class="rounded-xl p-4 border-gray-400 !ring-0 focus:border-transparent focus:outline-primary"
        />
      </div>
      <div class="flex flex-col gap-2">
        <label for="password" class="text-gray-600">Password*</label>
        <input
          type="password"
          id="password"
          formControlName="password"
          placeholder="********"
          class="rounded-xl p-4 border-gray-400 !ring-0 focus:border-transparent focus:outline-primary"
        />
      </div>
      <button
        #button
        type="submit"
        class="bg-primary hover:bg-primary-alt transition-all text-white py-3 text-xl rounded-xl flex items-center justify-center"
      >
        @for(letter of "signup"; track letter) {
        <span class="first:capitalize">{{ letter }}</span>
        }
      </button>
    </form>

    <p class="text-sm mt-2 text-gray-500">
      Have an account ?
      <a routerLink="/login" class="text-primary font-bold">Login</a>
    </p>
  </div>
</div>
