<div class="h-screen flex justify-center items-center min-h-[700px]">
  <div
    #form
    class="w-[600px] p-10 max-sm:p-5 sm:shadow-xl rounded-xl overflow-y-auto"
  >
    <h1 #title class="text-5xl mb-10 text-primary uppercase flex">
      @for(letter of "signup"; track letter) {
      <span>{{ letter }}</span>
      }
    </h1>
    <form
      [formGroup]="signupForm"
      (ngSubmit)="handleSignup()"
      class="flex flex-col gap-4"
    >
      <div class="flex flex-col gap-2">
        <div class="flex items-center gap-2 justify-between">
          <label for="first-name" class="text-gray-600">First Name*</label>
          <print-form-input-error
            class="text-red-500"
            [control]="signupForm.get('firstName')"
          ></print-form-input-error>
        </div>
        <input
          type="text"
          id="first-name"
          formControlName="firstName"
          placeholder="John"
          class="rounded-xl p-4 border-gray-400 !ring-0 focus:border-transparent focus:outline-primary disabled:bg-secondary-alt disabled:border-secondary-alt disabled:text-gray-500 disabled:transition-all"
        />
      </div>
      <div class="flex flex-col gap-2">
        <div class="flex items-center gap-2 justify-between">
          <label for="last-name" class="text-gray-600">Last Name*</label>
          <print-form-input-error
            class="text-red-500"
            [control]="signupForm.get('lastName')"
          ></print-form-input-error>
        </div>
        <input
          type="text"
          id="last-name"
          formControlName="lastName"
          placeholder="Doe"
          class="rounded-xl p-4 border-gray-400 !ring-0 focus:border-transparent focus:outline-primary disabled:bg-secondary-alt disabled:border-secondary-alt disabled:text-gray-500 disabled:transition-all"
        />
      </div>
      <div class="flex flex-col gap-2">
        <div class="flex items-center gap-2 justify-between">
          <label for="email" class="text-gray-600">Email*</label>
          <print-form-input-error
            class="text-red-500"
            [control]="signupForm.get('email')"
          ></print-form-input-error>
        </div>
        <input
          type="email"
          id="email"
          formControlName="email"
          placeholder="example@example.com"
          class="rounded-xl p-4 border-gray-400 !ring-0 focus:border-transparent focus:outline-primary disabled:bg-secondary-alt disabled:border-secondary-alt disabled:text-gray-500 disabled:transition-all"
        />
      </div>
      <div class="flex flex-col gap-2">
        <div class="flex items-center gap-2 justify-between">
          <label for="password" class="text-gray-600">Password*</label>
          <print-form-input-error
            class="text-red-500"
            [control]="signupForm.get('password')"
          ></print-form-input-error>
        </div>
        <input
          type="password"
          id="password"
          formControlName="password"
          placeholder="********"
          class="rounded-xl p-4 border-gray-400 !ring-0 focus:border-transparent focus:outline-primary disabled:bg-secondary-alt disabled:border-secondary-alt disabled:text-gray-500 disabled:transition-all"
        />
      </div>
      <button
        #button
        type="submit"
        class="bg-primary hover:bg-primary-alt transition-all text-white py-3 text-xl rounded-xl flex items-center justify-center"
      >
        @for(letter of "signup"; track letter) {
        <span class="first:capitalize">{{ letter }}</span>
        }
      </button>
    </form>

    <p class="text-sm mt-2 text-gray-500">
      Have an account ?
      <a routerLink="/login" class="text-primary font-bold">Login</a>
    </p>
  </div>
</div>
