<main class="flex">
  <sidebar class="max-sm:hidden" />
  @if(showMobileNav) {
  <mobile-nav class="sm:hidden" (nav)="toggleNav(false)" />
  }
  <section class="p-8 flex flex-col w-full">
    <div class="flex justify-between items-center">
      <h1 #titleHeading class="text-4xl flex w-fit">
        <ng-container *ngFor="let letter of title().name.split(''); let i = index">
          <span [attr.data-index]="i">{{ letter }}</span>
        </ng-container>
      </h1>
      <button (click)="toggleNav(true)" class="bg-primary p-2 rounded-lg sm:hidden">
        <img src="/icons/menu-icon.svg" alt="icon" class="size-8" />
      </button>
    </div>
    <p class="text-gray-500 text-sm mt-2">{{ title().description }}</p>
    <div class="bg-secondary flex-1 rounded-xl p-5 mt-4">
      <router-outlet></router-outlet>
    </div>
  </section>
</main>
